<%= form_with(model: fusen, local: true) do |form| %>
  <% if fusen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fusen.errors.count, "error") %> prohibited this fusen from being saved:</h2>

      <ul>
      <% fusen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :message, id: :fusen_message, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "create", :class => "btn btn-primary" %>
  </div>
<% end %>
