<p id="notice"><%= notice %></p>

<h1>Fusens</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>Top</th>
      <th>Left</th>
      <th>Dom height</th>
      <th>Dom width</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fusens.each do |fusen| %>
      <tr>
        <td><%= fusen.title %></td>
        <td><%= fusen.message %></td>
        <td><%= fusen.top %></td>
        <td><%= fusen.left %></td>
        <td><%= fusen.dom_height %></td>
        <td><%= fusen.dom_width %></td>
        <td><%= link_to 'Show', fusen %></td>
        <td><%= link_to 'Edit', edit_fusen_path(fusen) %></td>
        <td><%= link_to 'Destroy', fusen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fusen', new_fusen_path %>
