<script>
$(function(){
  $('.box').resizable().draggable({
     stack: '.box',
     cancel: "p",
     scrollSensitivity: "50",
     stop: function(e, ui){
         $.ajax({
            url: "position/set_position",
            type: "GET",
            data: {top: ui.offset.top,
                   left: ui.offset.left,
                   dom_id: $(this).parent().attr("class")
                  },
            dateType: "html",
            success: function(data){
            //   alert("success");
            },
            error: function(data){
            //   alert("error");
            }
         });
      }
  });

 //modal表示時にtextareaにフォーカスする
 $("#myModal").on('shown', function (){
  $("#modaltext").focus();
  });

});
</script>
<p id="notice"><%= notice %></p>

<h1>Fusens</h1>

    <% @fusens.each do |fusen| %>
      <div class= "<%= fusen.id =%>"> 
        <div class="box"; 
             style="width: <%= fusen.dom_width =%>px; 
                    height: <%= fusen.dom_height =%>px; 
                    position: absolute; 
                    top: <%= fusen.top =%>px; 
                    left: <%= fusen.left =%>px;"> 
           <span style="float: right;">
              <%= link_to sanitize('✏️'), edit_fusen_path(fusen)  %>
              <%= link_to sanitize('✖︎'), fusen, method: :delete %>
           </span>
          <%= simple_format(fusen.message) %>
        </div> <!-- box effect1 -->
      </div> 
    <% end %>

<%= link_to 'New Fusen', new_fusen_path %>
