<script type="text/javascript">
$(function(){
  $('.box').resizable({
   stop: function(e,ui){
      $.ajax({
         url: "position/set_width",
         type: "GET",
         data: {
            dom_id: $(this).parent().attr("class"),
            dom_width: $(this).width(),
            dom_height: $(this).height()
            },
         dateType: "html",
         success: function(data){
         //   alert("success");
         },
         error: function(data){
         //   alert("error");
         }
      });
   }  
}).draggable({
     stack: '.box',
     cancel: "p",
     scrollSensitivity: "50",
     stop: function(e, ui){
         $.ajax({
            url: "position/set_position",
            type: "GET",
            data: {top: ui.offset.top,
                   left: ui.offset.left,
                   dom_id: $(this).parent().attr("class")
                  },
            dateType: "html",
            success: function(data){
            //   alert("success");
            },
            error: function(data){
            //   alert("error");
            }
         });
      }
  });

 //modal表示時にtextareaにフォーカスする
 $("#myModal").on('shown', function (){
  $("#modaltext").focus();
  });

});
</script>
<p id="notice"><%= notice %></p>

<h1>Fusens</h1>

    <% @fusens.each do |fusen| %>
      <div class= "<%= fusen.id =%>"> 
        <div class="box <%= fusen.color =%> effect1"; 
             style="width: <%= fusen.dom_width =%>px; 
                    height: <%= fusen.dom_height =%>px; 
                    position: absolute; 
                    top: <%= fusen.top =%>px; 
                    left: <%= fusen.left =%>px;"> 
           <span style="float: right;">
              <%= link_to sanitize('✏️'), edit_fusen_path(fusen)  %>
              <%= link_to sanitize('✖︎'), fusen, method: :delete %>
           </span>
          <%= simple_format(text_url_to_link(fusen.message)) %>
        </div> <!-- box effect1 -->
      </div> 
    <% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  New Fusen
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">New Fusen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', fusen: @fusen %>
      </div>
    </div>
  </div>
</div>
